* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #F0ECEC;
}

/*HEADER*/
header {
  position: relative;
  top: 0;
  margin: auto;
}

.contenedor {
  max-width: auto;
  margin: 0 auto;
  margin-bottom: 4em;
  max-height: fit-content;
  font-size: 25px;
}

.logo {
  margin-left: 20px;
  font-size: 35px;
}

.item1 {
  padding-left: 465px;
  font-size: 35px;
}

.menu ul .item1 a{
  background-color: #aa7e5f;
}

.idioma {
  margin-right: 0px;
  padding-left: 400px;
  font-size: 35px;
}

.menu {
  background: #BA8F70;
  margin-bottom: 10px;
  font-size: 35px;
}

.menu ul {
  list-style: none;
  overflow: hidden;
}

.menu ul li {
  float: left;
}

.menu>li {
  float: left;
}

.menu ul li a {
  padding: 20px;
  text-decoration: none;
}

.menu li a {
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding: 10px 12px;
  display: block;
}

.menu ul .item a:hover {
  background: #977257;
}

.menu ul .item1 a:hover {
  background: #977257;
}

.menu ul .login a:hover {
  background: #977257;
}

.menu ul .idioma a:hover {
  background: #977257;
}

.menu li a {
  background-color: #BA8F70;
  color: #fff;
  text-decoration: none;
  padding: 10px 12px;
  display: block;
}

/*MAIN*/

.container {
  margin-right: 400px;
}

/*GALERIA*/
#slider {
  text-align: center;
  /* Centra todos los elementos dentro de la div */
  width: 800px;
  /* Ancho del contenedor */
  margin: 0 auto;
  /* Centrar horizontalmente */
}

#images img {
  display: inline-block;
  /* Posiciona las imágenes en línea */
  margin: 0 auto;
  /* Centra las imágenes */
}

#previous-button {
  position: absolute;
  /* Posiciona el botón de manera absoluta */
  top: 50%;
  /* Centra el botón verticalmente */
  left: 0;
  /* Posiciona el botón al borde izquierdo de la imagen */
  transform: translateY(-50%);
  /* Desplaza el botón hacia arriba para centrarlo verticalmente */
}

#next-button {
  position: absolute;
  /* Posiciona el botón de manera absoluta */
  top: 50%;
  /* Centra el botón verticalmente */
  right: 0;
  /* Posiciona el botón al borde derecho de la imagen */
  transform: translateY(-50%);
  /* Desplaza el botón hacia arriba para centrarlo verticalmente */
}


/*TABLAS*/

.titulo {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 325px;
}

table {
  margin-left: 320px;
  border-collapse: collapse;
}

td {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

/*Footer*/

.footer-distributed {
  margin-top: 2em;
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-links .link {
  padding-left: 2em;
}